.bg-green{
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px;
}
input{
    /* text-align: center; */
    justify-content: center;
    width: 50%;
    margin: 4%;
    margin-left: 20%;
}
#header1{
    margin-top: 90px;
    text-align: center;
    color: darkviolet;
}